/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    margin-right: 5%;
    margin-left: 5%;
}

.common-form {
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}

.form-input {
    height: 35px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 1px solid darkred;
    color: darkred;
}

.form-button {
    border: 1px solid darkred;
    color: darkred;
    height: 35px;
    margin-left: 10px;
}